  <!--NAV-->
  <header class="header bg-light fixed-top">
    <nav class="navbar navbar-light">
      <div class="container">
        <a href="/" class="site-logo">
          <img class="navbar-brand" src="/images/assist-purp.png" alt="image" width="100px">
        </a>
        <div class="d-none d-md-flex">
          <ul class="nav mr-auto align-items-center">
            <li class="nav-item active">
              <a class="nav-link text-dar" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary" href="/users/login">Login</a>
            </li>
          </ul>
        </div>
  
        <button class="navbar-toggler collapsed d-xs-inline-block d-md-none" type="button" data-toggle="collapse"
          data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span> </span>
          <span> </span>
          <span> </span>
        </button>
  
        <div class="collapse navbar-collapse d-xs-block d-md-none" id="navigation">
          <ul class="d-xs-flex nav mr-auto justify-content-around d-md-none align-items-center">
            <li class="nav-item active">
              <a class="nav-link text-dar" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary" href="/users/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<section class="min-vh-100">
  <div class="mt-4 mb-4">
    <div class="row align-items-center justify-content-around">
      <div class="col">
          <h1 class="font-weight-bold" style="font-size: 3.3rem;">Meet the new way to plan</h1>
          <p>Stay on schedule and get stuff done with friends/family</p>
      </div>
      <div class="col-sm-6 col-md-4">
        <div data-aos="fade-left" data-aos-duration="1000">
          <img src="/images/iphone.png" alt="iphone app" class="img-fluid" id="phone">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 text-center" id="pricing">  
  <h1 class="display-4">Pricing</h1>
  <p class="lead">Affordable pricing for personal or business needs with built in customization for your needs.</p>
</div>
<div class="container">
  <div class="row mb-3 text-center" data-aos="fade-up">

    <div class="card shadow-sm col-sm-12 col-md-6 col-lg-4 mb-4">
      <div class="card-header bg-light">
        <h4 class="my-0 font-weight-normal">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>5 users included</li>
          <li>1 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li>
        </ul>
        <a href="/users/register"> 
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
        </a>
      </div>
    </div>

    <div class="card mb-4 shadow-sm col-sm-12 col-md-6 col-lg-4">
      <div class="card-header bg-light">
        <h4 class="my-0 font-weight-normal">Pro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$20 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>15 users included</li>
          <li>5 GB of storage</li>
          <li>Priority email support</li>
          <li>Help center access</li>
        </ul>
        <a href="/users/register">
          <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
        </a>
      </div>
    </div>

    <div class="card mb-4 shadow-sm col-sm-12 col-md col-lg-4">
      <div class="card-header bg-light">
        <h4 class="my-0 font-weight-normal">Enterprise</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$50 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>30 + users included</li>
          <li>12 GB of storage</li>
          <li>Phone and email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
      </div>
    </div>
  </div>


